{% extends "payroll\base.html" %} {% load static %} {% block content %}






<div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>Dashboard</h3>
        <ul>
            
            <li>Admin</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <div class="row">
        <!-- Dashboard summery Start Here -->
        <div class="col-12">
            <div class="row">
                <div class="col-3">
                    <div class="dashboard-summery-two">
                        <div class="item-icon bg-light-magenta">
                            <i class="flaticon-classmates text-magenta"></i>
                        </div>
                        <div class="item-content">
                            <div class="item-number"><span class="counter" data-num="{{cnt}}">{{cnt}}</span></div>
                            <div class="item-title">Total Employee</div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="dashboard-summery-two">
                        <div class="item-icon bg-light-blue">
                            <i class="flaticon-shopping-list text-blue"></i>
                        </div>
                        <div class="item-content">
                            <div class="item-number"><span class="counter" data-num="{{today_absent}}">{{today_absent}}</span></div>
                            <div class="item-title">Today Absent</div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="dashboard-summery-two">
                        <div class="item-icon bg-light-yellow">
                            <i class="flaticon-mortarboard text-orange"></i>
                        </div>
                        <div class="item-content">
                            <div class="item-number"><span class="counter" data-num="{{today_present}}">{{today_present}}</span></div>
                            <div class="item-title">Today Present</div>
                        </div>
                    </div>
                </div>
              <!--  <div class="col-3">
                    <div class="dashboard-summery-two">
                        <div class="item-icon bg-light-red">
                            <i class="flaticon-money text-red"></i>
                        </div>
                        <div class="item-content">
                            <div class="item-number"><span>$</span><span class="counter" data-num="2102050">5445454545454</span></div>
                            <div class="item-title">Total Income</div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
        <!-- Dashboard summery End Here -->
        
       
    </div>
    <!-- Teacher Table Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>Today Present</h3>
                </div>
               <div class="dropdown">
                   
                </div>
            </div>
            <form class="mg-b-20">
                <div class="row gutters-8">
                  
                    <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
                        <input type="text" placeholder="Search by Name ..." class="form-control">
                    </div>
                   
                    <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                        <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                    </div>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table display data-table text-nowrap">
                    <thead>
                        <tr>
                           
                            <th>Employee ID</th>
                            <th>Date</th>
                            <th>Present/Absent</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for i in attendance %}
                        <tr>
                           
                            <td>{{i.emp_iid}}</td>
                            <td>{{i.date}}</td>
                            <td>{{i.presenty}}</td>
                            
                             <td>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <span class="flaticon-more-button-of-three-dots"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Delete/refresh</a>
                                      
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Teacher Table Area End Here -->

</div>
  
    
</div>


{% endblock %}